extends ../layout

block stylesheets
  link(href=base+'/style/bootstrap-timepicker.min.css', rel='stylesheet')
block pages
  button.header__action-button.ng-binding(data-toggle="tooltip", title="Manage Users", onclick="location.href='" + base + "/admin/manage_users';")
    i.glyphicon.glyphicon-user
    span.main-actions|                         Manage Users
  .header__actions-divider
  button.header__action-button.ng-binding(data-toggle="tooltip", title="Manage Medicines", onclick="location.href='" + base + "/admin/manage_medicines';")
    i.glyphicon.glyphicon-list-alt
    span.main-actions|                         Manage Medicines
  .header__actions-divider
  button.header__action-button.ng-binding(data-toggle="tooltip", title="Admins List", onclick="location.href='" + base + "/admin/admins_list';")
    i.glyphicon.glyphicon-tower
    span.main-actions|                         Admins List
  .header__actions-divider  
block account  
  .header__actions-divider
  button.header__action-button.ng-binding(data-toggle="tooltip", title="Logout", onclick="location.href='" + base + "/admin/logout';")
    i.glyphicon.glyphicon-log-out
    span.main-actions|                         Logout        
block content
  .page__subtitle.ng-binding Manage Users
  .row
    .col-xs-6.col-md-2 
      button.form-control.btn.btn-primary(ng-click='welcomeCtrl.newForecast()', data-toggle='modal', data-target='#addNewUser') Add New User
    if admin_type  
      .col-xs-6.col-md-2
        button.form-control.btn.btn-primary(ng-click='welcomeCtrl.newForecast()', data-toggle='modal', data-target='#addNewAdmin') Add New Admin
  hr  
  .welcome__home-buttons
    h4.table-title New Account Requests     
    table#newAccountsTable.display(cellspacing="0", width="100%")
      thead
        tr
          th Name
          th Email
          th Type
          th Action
      tbody
        if non_approved_users && non_approved_users.length > 0
          - for( var i = 0, len = non_approved_users.length; i < len; i++ ) {
          tr
            td #{non_approved_users[i].PERSON_NAME} 
            td #{non_approved_users[i].EMAIL}
            td #{non_approved_users[i].TYPE}
            td 
              button.form-control.btn.btn-primary.auto-width(onclick='approve('+non_approved_users[i].ID+')') Approve
          - }
    h4.table-title Users Accounts     
    table#usersTable.display(cellspacing="0", width="100%")
      thead
        tr
          th Name
          th Email
          th Type
          th Suspension Reason
          th Mail On Suspension
          th Action
          th Suspension History
          th Delete (for testing)
      tbody
        if approved_users && approved_users.length > 0
          - for( var i = 0, len = approved_users.length; i < len; i++ ) {
          tr
            td #{approved_users[i].PERSON_NAME} 
            td #{approved_users[i].EMAIL}
            td #{approved_users[i].TYPE}
            td
              input.form-control(type='text', id='suspend_message_'+approved_users[i].ID)
            td
              if approved_users[i].ACTIVE == 1
                input.checkbox-form-control(type='checkbox', id='chk_'+approved_users[i].ID)
              else
                input.checkbox-form-control(type='checkbox' disabled readonly)
            td 
              if approved_users[i].ACTIVE == 1
                button.form-control.btn.btn-gray.auto-width(onclick='suspend('+approved_users[i].ID+')') Suspend
              else
                button.form-control.btn.btn-success.auto-width(onclick='activate('+approved_users[i].ID+')') Activate
            td
              button.form-control.btn.btn-gray.auto-width(onclick='showHistory('+approved_users[i].ID+')') Show Suspension History
            td 
              button.form-control.btn.btn-danger.auto-width(onclick='delete_user('+ approved_users[i].ID+')') Delete     
          - }
block modals
  #addNewUser.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel.modal-title Add New User
        // /.modal-header
        .modal-body
          form(role='form')
            #typeUserForm.form-group
              .input-group
                select#typeUser.form-control(name='type')
                  option.form-control(value='') Select User Type
                  option.form-control(value='doctor') Doctor
                  option.form-control(value='navigator') Navigator
                  option.form-control(value='pharmacy') Pharmacy
                  option.form-control(value='treatment center') Treatment Center
                span.input-group-addon
                  i.glyphicon.glyphicon-briefcase
              // /.input-group
            // /.form-group
            #nameUserForm.form-group
              .input-group
                input#nameUser.form-control(name='name', type='text', placeholder='Name')
                span.input-group-addon
                  i.glyphicon.glyphicon-user
            // /.form-group
            #positionUserForm.form-group
              .input-group
                input#positionUser.form-control(name='position', type='text', placeholder="Position")
                span.input-group-addon
                  i.glyphicon.glyphicon-user
            // /.form-group
            #entityNameUserForm.form-group
              .input-group
                input#entityNameUser.form-control(name='entity_name', type='text', placeholder="Place of Work")
                span.input-group-addon
                  i.glyphicon.glyphicon-briefcase
            // /.form-group
            #phoneUserForm.form-group
              .input-group
                input#phoneUser.form-control(name='phone_number', type='text', placeholder='Phone Number')
                span.input-group-addon
                  i.glyphicon.glyphicon-earphone
            // /.form-group
            #addressUserForm.form-group
              .input-group
                input#addressUser.form-control(name='address', type='text', placeholder='Address')
                span.input-group-addon
                  i.glyphicon.glyphicon-home
            // /.form-group
            #cityUserForm.form-group
              .input-group
                input#cityUser.form-control(name='city', type='text', placeholder='City')
                span.input-group-addon
                  i.glyphicon.glyphicon-home
            // /.form-group
            #countryUserForm.form-group
              .input-group
                input#countryUser.form-control(name='country', type='text', placeholder='Country')
                span.input-group-addon
                  i.glyphicon.glyphicon-home
            // /.form-group
            #emailUserForm.form-group
              .input-group
                input#emailUser.form-control(name='email', type='text', placeholder='Email')
                span.input-group-addon
                  i.glyphicon.glyphicon-envelope
            // /.form-group
            .row
              .col-xs-8
                #passwordUserForm.form-group
                  .input-group
                    input#passwordUser.form-control(name='password', type='password', placeholder='Password')
                    span.input-group-addon
                      i.glyphicon.glyphicon-lock
                  // /.input-group
                // /.form-group
              .col-xs-4
                 button.form-control.btn.btn-primary(type='button' onclick='generate_password(this)') Generate Password
            p.handle(style='display:none;') 
              strong Open from
            #openFromUserForm.form-group.handle(style='display:none;')
              .input-group.bootstrap-timepicker.timepicker
                input#timepicker1.form-control.input-small(name='open_from', type='text')
                span.input-group-addon
                  i.glyphicon.glyphicon-time
            // /.form-group
            p.handle(style='display:none;')
              strong Open to
            #openToUserForm.form-group.handle(style='display:none;')
              .input-group.bootstrap-timepicker.timepicker
                input#timepicker2.form-control.input-small(name='open_to', type='text')
                span.input-group-addon
                  i.glyphicon.glyphicon-time
            // /.form-group      
        // /.modal-body
        .modal-footer
          button.form-control.btn.btn-primary(onclick='add_new_user();') Submit
        // /.modal-footer
      // /.modal-content
    // /.modal-dialog
  // /.modal
  if admin_type
    #addNewAdmin.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Add New Admin
          // /.modal-header
          .modal-body
            form(role='form')
              #nameAdminForm.form-group
                .input-group
                  input#nameAdmin.form-control(name='name', type='text', placeholder='Name')
                  span.input-group-addon
                    i.glyphicon.glyphicon-user
              // /.form-group
              #emailAdminForm.form-group
                .input-group
                  input#emailAdmin.form-control(name='email', type='text', placeholder='Email')
                  span.input-group-addon
                    i.glyphicon.glyphicon-envelope
              // /.form-group
              #typeAdminForm.form-group
                .input-group
                  select#typeAdmin.form-control(name='type')
                    option.form-control(value='') Select Admin Type
                    option.form-control(value='0') Normal
                    option.form-control(value='1') Super
                  span.input-group-addon
                    i.glyphicon.glyphicon-briefcase
                // /.input-group
              // /.form-group
              .row
                .col-xs-8
                  #passwordAdminForm.form-group
                    .input-group
                      input#passwordAdmin.form-control(name='password', type='password', placeholder='Password')
                      span.input-group-addon
                        i.glyphicon.glyphicon-lock
                    // /.input-group
                  // /.form-group
                .col-xs-4
                   button.form-control.btn.btn-primary(type='button' onclick='generate_password(this)') Generate Password
          .modal-footer
            button.form-control.btn.btn-primary(onclick='add_new_admin();') Submit
          // /.modal-footer
        // /.modal-content
      // /.modal-dialog
    // /.modal
  #history.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel.modal-title Suspension History
        // /.modal-header
        .modal-body
          div.div_search
            table#table_search
              thead
                tr.tr_search
                  th.th_search Status
                  th.th_search Reason
                  th.th_search Date
              tbody#history_details
                tr.tr_search
                  td#empty_search.td_search(style="text-align: center;", valign="top", colspan="3") There are no history for this user     
        // /.modal-body
      // /.modal-content
    // /.modal-dialog
  // /.modal                          
block scripts
  script(type='text/javascript', src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js')
  script(type='text/javascript', src=base+'/scripts/bootstrap-timepicker.min.js')  
  script(type='text/javascript', src=base+'/scripts/admin/manage_users.js')
