extends ../layout

block stylesheets
  link(href=base+'/style/bootstrap-timepicker.min.css', rel='stylesheet')
block pages
  button.header__action-button.ng-binding(data-toggle="tooltip", title="Manage Users", onclick="location.href='" + base + "/admin/manage_users';")
    i.glyphicon.glyphicon-user
    span.main-actions|                         Manage Users
  .header__actions-divider
  button.header__action-button.ng-binding(data-toggle="tooltip", title="Manage Medicines", onclick="location.href='" + base + "/admin/manage_medicines';")
    i.glyphicon.glyphicon-list-alt
    span.main-actions|                         Manage Medicines
    .header__actions-divider
    button.header__action-button.ng-binding(data-toggle="tooltip", title="Reports", onclick="location.href='" + base + "/admin/reports';")
      i.glyphicon.glyphicon-list-alt
      span.main-actions|                         Reports
    .header__actions-divider
  button.header__action-button.ng-binding(data-toggle="tooltip", title="Admins List", onclick="location.href='" + base + "/admin/admins_list';")
    i.glyphicon.glyphicon-tower
    span.main-actions|                         Admins List
  .header__actions-divider
block account
  .header__actions-divider
  button.header__action-button.ng-binding(data-toggle="tooltip", title="Logout", onclick="location.href='" + base + "/admin/logout';")
    i.glyphicon.glyphicon-log-out
    span.main-actions|                         Logout
block content
  .page__subtitle.ng-binding Manage Medicines
  - if(uploading_message) {
      !{uploading_message}
  - }
  - if(extention_error) {
      .alert.alert-danger
        a.close(href='#' data-dismiss='alert' aria-label='close') &times;
        |  This file extension is not allowed, only files with xlsx extension are allowed
  - }
  - if(format_error) {
      !{format_error}
  - }
  - if(success_message) {
      !{success_message}
  - }
  .row
    .col-xs-6.col-md-3
      button.form-control.btn.btn-primary(ng-click='welcomeCtrl.newForecast()', data-toggle='modal', data-target='#addNewMedicine') Add New Medicine
    .col-xs-6.col-md-3
      form#uploadForm(ref='uploadForm', action= base + '/admin/uploadmedicines', method='post', enctype='multipart/form-data')
        .fileUpload.btn.btn-primary(style="height: 34px;")
          span Upload Medicine List
          input.upload(type='file', name="sampleFile", onchange='$("#loadingModal").modal("show");this.form.submit();')
    .col-xs-6.col-md-3
      form#downloadForm(ref='downloadForm', action= base + '/admin/downloadtemplate', method='get', enctype='multipart/form-data')
        button.form-control.btn.btn-primary(type="submit") Download Medicines Template
    .col-xs-6.col-md-3
      form#uploadTemplateForm(ref='uploadTemplateForm', action= base + '/admin/uploadstocklist', method='post', enctype='multipart/form-data')
        .fileUpload.btn.btn-primary(style="height: 34px;")
          span Upload Stock List Template
          input.upload(type='file', name="sampleFile", onchange='$("#loadingModal").modal("show");this.form.submit();')
  hr
  .welcome__home-buttons
    h4.table-title Approved Medicines
    table#approvedMedicinesTable.display(cellspacing="0", width="100%")
      thead
        tr
          th Update
          th Delete
          th Details
          th Generic Name
          th Brand Name
          th Form
          th Strength
          th Strength Unit
          th Manufacturer
      tbody
        if approved_medicines.length > 0
          - for( var i = 0, len = approved_medicines.length; i < len; i++ ) {
          tr
            td
              button.form-control.btn.btn-primary(onclick='getMedicine(' + approved_medicines[i].ID + ')') Update
            td
              button.form-control.btn.btn-gray(onclick='deleteApprovedStockRecord(' + approved_medicines[i].ID + ', this)') Delete
            td
              button.form-control.btn.btn-gray(onclick='showDetails(' + approved_medicines[i].ID + ')') Show Details
            td #{approved_medicines[i].GENERIC_NAME}
            td #{approved_medicines[i].BRAND_NAME}
            td #{approved_medicines[i].FORM}
            td #{approved_medicines[i].STRENGTH}
            td #{approved_medicines[i].STRENGTH_UNIT}
            td #{approved_medicines[i].MANUFACTURER}
          - }
    h4.table-title Non Approved Medicines
    table#nonApprovedMedicinesTable.display(cellspacing="0", width="100%")
      thead
        tr
          th Update
          th Delete
          th Details
          th Generic Name
          th Brand Name
          th Form
          th Strength
          th Strength Unit
          th Manufacturer
      tbody
        if non_approved_medicines.length > 0
          - for( var i = 0, len = non_approved_medicines.length; i < len; i++ ) {
          tr
            td
              button.form-control.btn.btn-primary(onclick='getMedicine(' + non_approved_medicines[i].ID + ')') Update
            td
              button.form-control.btn.btn-gray(onclick='deleteNonApprovedStockRecord(' + non_approved_medicines[i].ID + ', this)') Delete
            td
              button.form-control.btn.btn-gray(onclick='showDetails(' + non_approved_medicines[i].ID + ')') Show Details
            td #{non_approved_medicines[i].GENERIC_NAME}
            td #{non_approved_medicines[i].BRAND_NAME}
            td #{non_approved_medicines[i].FORM}
            td #{non_approved_medicines[i].STRENGTH}
            td #{non_approved_medicines[i].STRENGTH_UNIT}
            td #{non_approved_medicines[i].MANUFACTURER}
          - }
block modals
  #medicineDetails.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel.modal-title Medicine Details
        // /.modal-header
        .modal-body
          .row
            .col-xs-6.text-center
              label Generic Name
            .col-xs-6.text-center
              p.wrapping#genericNameShow
          hr
          .row
            .col-xs-6.text-center
              label Brand Name
            .col-xs-6.text-center
              p.wrapping#brandNameShow
          hr
          .row
            .col-xs-6.text-center
              label Form
            .col-xs-6.text-center
              p.wrapping#formShow
          hr
          .row
            .col-xs-6.text-center
              label Strength
            .col-xs-6.text-center
              p.wrapping#strengthShow
          hr
          .row
            .col-xs-6.text-center
              label Strength Unit
            .col-xs-6.text-center
              p.wrapping#strengthUnitShow
          hr
          .row
            .col-xs-6.text-center
              label Specification Form
            .col-xs-6.text-center
              p.wrapping#specificationFormShow
          hr
          .row
            .col-xs-6.text-center
              label Route
            .col-xs-6.text-center
              p.wrapping#routeShow
          hr
          .row
            .col-xs-6.text-center
              label Manufacturer
            .col-xs-6.text-center
              p.wrapping#manufacturerShow
          hr
          .row
            .col-xs-6.text-center
              label Pack Type
            .col-xs-6.text-center
              p.wrapping#packTypeShow
          hr
          .row
            .col-xs-6.text-center
              label Units Per Pack
            .col-xs-6.text-center
              p.wrapping#unitsPerPackShow
          hr
          .row
            .col-xs-6.text-center
              label SRA Approvals
            .col-xs-6.text-center
              p.wrapping#sraShow
          hr
          .row
            .col-xs-6.text-center
              label Approval Date
            .col-xs-6.text-center
              p.wrapping#approvalDateShow
          hr
          .row
            .col-xs-6.text-center
              label Source
            .col-xs-6.text-center
              p.wrapping#sourceShow
          hr
          .row
            .col-xs-6.text-center
              label Extract Date
            .col-xs-6.text-center
              p.wrapping#extractDateShow
          hr
          .row
            .col-xs-6.text-center
              label Status
            .col-xs-6.text-center
              p.wrapping#statusShow
          hr
          .row
            .col-xs-6.text-center
              label Comments
            .col-xs-6.text-center
              p.wrapping#commentsShow
            // /.form-group
        // /.modal-body
      // /.modal-content
    // /.modal-dialog
  // /.modal
  #addNewMedicine.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel.modal-title Add New Medicine
        // /.modal-header
        .modal-body
          form#add-new-medicine-form(role='form')
            #genericNameForm.form-group
              input#genericName.form-control(name='generic_name', type='text', placeholder='Generic Name')
            // /.form-group
            #brandNameForm.form-group
              input#brandName.form-control(name='brand_name', type='text', placeholder='Brand Name')
            // /.form-group
            #formForm.form-group
              select#form.form-control(name='form')
                option.form-control(value='') Select Form
                option.form-control(value='Ampule') Ampule
                option.form-control(value='Caps') Caps
                option.form-control(value='Eye Drops') Eye Drops
                option.form-control(value='Syringe') Syringe
                option.form-control(value='Vial') Vial
                option.form-control(value='Tablets') Tablets
                option.form-control(value='Film') Film
                option.form-control(value='Solution') Solution
                option.form-control(value='Other') Other
              // /.input-group
            // /.form-group
            #strengthForm.form-group
              input#strength.form-control(name='strength', type='text', placeholder='Strength')
            // /.form-group
            #strengthUnitForm.form-group
              select#strengthUnit.form-control(name='strength_unit')
                option.form-control(value='') Select Form
                option.form-control(value='Mcg') Mcg
                option.form-control(value='Mg') Mg
                option.form-control(value='Gr') Gr
                option.form-control(value='Mcg/ml') Mcg/ml
                option.form-control(value='Mg/ml') Mg/ml
                option.form-control(value='Gr/ml') Gr/ml
                option.form-control(value='ml') ml
                option.form-control(value='IU') IU
                option.form-control(value='MU') MU
                option.form-control(value='%') %
                option.form-control(value='Other') Other
            // /.form-group


            #specificationFormForm.form-group
              input#specificationForm.form-control(name='specification_form', type='text', placeholder='Specification Form')
            // /.form-group


            #routeForm.form-group
              input#route.form-control(name='route', type='text', placeholder='Route')
            // /.form-group
            #manufacturerForm.form-group
              input#manufacturer.form-control(name='manufacturer', type='text', placeholder='Manufacturer')
            // /.form-group


            #packTypeForm.form-group
              input#packType.form-control(name='pack_type', type='text', placeholder='Pack Type')
            // /.form-group



            #unitsPerPackForm.form-group
              input#unitsPerPack.form-control(name='units_per_pack', type='text', placeholder='Units Per Pack')
            // /.form-group
            p
              strong Approve
            #sraForm.form-group.row
              .col-xs-1
                input#approve.checkbox-form-control(name='approve', type="checkbox")
              //.col-xs-10
                //input#sra.form-control(name='sra', type='text', placeholder='SRA Approval' disabled="disabled")
            // /.form-group

            p
              strong Approval Date
            #approvalDateForm.form-group
              input#approvalDate.form-control(name='approval_date', type='date', placeholder='Approval Date')
            // /.form-group
            #sourceForm.form-group
              input#source.form-control(name='source', type='text', placeholder='Source')
            // /.form-group
            p
              strong Extract Date
            #extractDateForm.form-group
              input#extractDate.form-control(name='extract_date', type='date', placeholder='Extract Date')
            // /.form-group


            #statusForm.form-group
              input#status.form-control(name='status', type='text', placeholder='Status')
            // /.form-group


            #commentsForm.form-group
              input#comments.form-control(name='comments', type='text', placeholder='Comments')
            // /.form-group


        // /.modal-body
        .modal-footer
          button.form-control.btn.btn-primary(onclick='add_new_medicine();') Submit
        // /.modal-footer
      // /.modal-content
    // /.modal-dialog
  // /.modal
  #updateMedicine.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel.modal-title Update Medicine
        // /.modal-header
        .modal-body
          form#update-medicine-form(role='form')
            label Generic Name
            #genericNameFormUpdate.form-group
              input#genericNameUpdate.form-control(name='generic_name', type='text', placeholder='Generic Name')
            // /.form-group
            label Brand Name
            #brandNameFormUpdate.form-group
              input#brandNameUpdate.form-control(name='brand_name', type='text', placeholder='Brand Name')
            // /.form-group
            label Form
            #formFormUpdate.form-group
              select#formUpdate.form-control(name='form')
                option.form-control(value='') Select Form
                option.form-control(value='Ampule') Ampule
                option.form-control(value='Caps') Caps
                option.form-control(value='Eye Drops') Eye Drops
                option.form-control(value='Syringe') Syringe
                option.form-control(value='Vial') Vial
                option.form-control(value='Tablets') Tablets
                option.form-control(value='Film') Film
                option.form-control(value='Solution') Solution
                option.form-control(value='Other') Other
              // /.input-group
            // /.form-group
            label Strength
            #strengthFormUpdate.form-group
              input#strengthUpdate.form-control(name='strength', type='text', placeholder='Strength')
            // /.form-group
            label Strength Unit
            #strengthUnitFormUpdate.form-group
              select#strengthUnitUpdate.form-control(name='strength_unit')
                option.form-control(value='') Select Form
                option.form-control(value='Mcg') Mcg
                option.form-control(value='Mg') Mg
                option.form-control(value='Gr') Gr
                option.form-control(value='Mcg/ml') Mcg/ml
                option.form-control(value='Mg/ml') Mg/ml
                option.form-control(value='Gr/ml') Gr/ml
                option.form-control(value='ml') ml
                option.form-control(value='IU') IU
                option.form-control(value='MU') MU
                option.form-control(value='%') %
                option.form-control(value='Other') Other
            // /.form-group

            label Specification Form
            #specificationFormFormUpdate.form-group
              input#specificationFormUpdate.form-control(name='specification_form', type='text', placeholder='Specification Form')
            // /.form-group


            label Route
            #routeFormUpdate.form-group
              input#routeUpdate.form-control(name='route', type='text', placeholder='Route')
            // /.form-group
            label Manufacturer
            #manufacturerFormUpdate.form-group
              input#manufacturerUpdate.form-control(name='manufacturer', type='text', placeholder='Manufacturer')
            // /.form-group

            label Pack Type
            #packTypeFormUpdate.form-group
              input#packTypeUpdate.form-control(name='pack_type', type='text', placeholder='Pack Type')
            // /.form-group


            label Units Per Pack
            #unitsPerPackFormUpdate.form-group
              input#unitsPerPackUpdate.form-control(name='units_per_pack', type='text', placeholder='Units Per Pack')
            // /.form-group


            label approve
            #sraFormUpdate.form-group.row
              .col-xs-1
                input#approveUpdate.checkbox-form-control(name='approve', type="checkbox")
              //.col-xs-10
                //input#sraUpdate.form-control(name='sra', type='text', placeholder='SRA Approval' disabled="disabled")
            // /.form-group
            label Approval Date
            #approvalDateFormUpdate.form-group
              input#approvalDateUpdate.form-control(name='approval_date', type='date', placeholder='Approval Date')
            // /.form-group
            label Source
            #sourceFormUpdate.form-group
              input#sourceUpdate.form-control(name='source', type='text', placeholder='Source')
            // /.form-group
            label Extract Date
            #extractDateFormUpdate.form-group
              input#extractDateUpdate.form-control(name='extract_date', type='date', placeholder='Extract Date')
            // /.form-group

            label Status
            #statusFormUpdate.form-group
              input#statusUpdate.form-control(name='status', type='text', placeholder='Status')
            // /.form-group

            label Comments
            #commentsFormUpdate.form-group
              input#commentsUpdate.form-control(name='comments', type='text', placeholder='Comments')
            // /.form-group


        // /.modal-body
        .modal-footer
          button#update-medicine-btn.form-control.btn.btn-primary Submit
        // /.modal-footer
      // /.modal-content
    // /.modal-dialog
  // /.modal
  #loadingModal.modal.fade(role='dialog', data-backdrop='static', data-show='true', data-keyboard='false')
    .modal-dialog.modal-sm
      .modal-content
        .modal-body
          h2
            span.glyphicon.glyphicon-refresh.glyphicon-refresh-animate
            |   Loading...
  #confimAddMedicine.modal.fade(role='dialog', data-backdrop='static', data-show='true', data-keyboard='false')
    .modal-dialog
      .modal-content
        .modal-header
          h4#myModalLabel.modal-title Add New Medicine
        // /.modal-header
        .modal-body
          |  The medicine is added successfully
        // /.modal-body
        .modal-footer
          button.form-control.btn.btn-primary(onclick='location.reload();') OK
        // /.modal-footer
      // /.modal-content
    // /.modal-dialog
  // /.modal
  #confimUpdateMedicine.modal.fade(role='dialog', data-backdrop='static', data-show='true', data-keyboard='false')
    .modal-dialog
      .modal-content
        .modal-header
          h4#myModalLabel.modal-title Update Medicine
        // /.modal-header
        .modal-body
          |  The medicine is updated successfully
        // /.modal-body
        .modal-footer
          button.form-control.btn.btn-primary(onclick='location.reload();') OK
        // /.modal-footer
      // /.modal-content
    // /.modal-dialog
  // /.modal
  #confimDeleteMedicine.modal.fade(role='dialog', data-backdrop='static', data-show='true', data-keyboard='false')
    .modal-dialog
      .modal-content
        .modal-header
          h4#myModalLabel.modal-title Delete Medicine
        // /.modal-header
        .modal-body
          |  The medicine is deleted successfully
        // /.modal-body
        .modal-footer
          button.form-control.btn.btn-primary(onclick='location.reload();') OK
        // /.modal-footer
  #confimDeleteNonApprovedMedicine.modal.fade(role='dialog', data-backdrop='static', data-show='true', data-keyboard='false')
    .modal-dialog
      .modal-content
        .modal-header
          h4#myModalLabel.modal-title Delete Medicine
        // /.modal-header
        .modal-body
          |  This medicine cannot be deleted as it is available in some pharmacies but it will be converted to the non approved medicines list
        // /.modal-body
        .modal-footer
          button.form-control.btn.btn-primary(onclick='location.reload();') OK
        // /.modal-footer
      // /.modal-content
    // /.modal-dialog
  // /.modal
  #confimNoDeleteMedicine.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel.modal-title Delete Medicine
        // /.modal-header
        .modal-body
          | This medicine cannot be deleted as it is available in some pharmacies
        // /.modal-body
        .modal-footer
          button.form-control.btn.btn-primary(data-dismiss='modal') Close
        // /.modal-footer
      // /.modal-content
    // /.modal-dialog
  // /.modal
block scripts
  script(type='text/javascript', src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js')
  script(type='text/javascript', src=base+'/scripts/admin/manage_medicines.js')
