extends ../layout

block stylesheets
  link(href=base+'/style/bootstrap-timepicker.min.css', rel='stylesheet')
block headers
  button.header__action-button.ng-binding(data-toggle="tooltip", title="Manage Users", onclick="location.href='" + base + "/admin/manage_users';")
    i.glyphicon.glyphicon-user
    span.main-actions|                         Manage Users
  .header__actions-divider
  button.header__action-button.ng-binding(data-toggle="tooltip", title="Manage Medicines", onclick="location.href='" + base + "/admin/manage_medicines';")
    i.glyphicon.glyphicon-list-alt
    span.main-actions|                         Manage Medicines
  .header__actions-divider
  button.header__action-button.ng-binding(data-toggle="tooltip", title="Admins List", onclick="location.href='" + base + "/admin/admins_list';")
    i.glyphicon.glyphicon-tower
    span.main-actions|                         Admins List
  .header__actions-divider  
  button.header__action-button.ng-binding(data-toggle="tooltip", title="Settings", onclick="")
    i.glyphicon.glyphicon-cog
    span.main-actions|                         Settings
  .header__actions-divider
  button.header__action-button.ng-binding(data-toggle="tooltip", title="Logout", onclick="location.href='" + base + "/admin/logout';")
    i.glyphicon.glyphicon-log-out
    span.main-actions|                         Logout        
block content
  .page__subtitle.ng-binding Manage Medicines
  - if(extention_error) {
      .alert.alert-danger.error-form This file extension is not allowed, only files with xlsx extension are allowed
  - }
  - if(format_error) {
      !{format_error} 
  - }
  .row
    .col-xs-6.col-md-4 
      button.form-control.btn.btn-primary(ng-click='welcomeCtrl.newForecast()', data-toggle='modal', data-target='#addNewMedicine') Add New Medicine
    .col-xs-6.col-md-4
      form#uploadForm(ref='uploadForm', action= base + '/admin/uploadmedicines', method='post', enctype='multipart/form-data')
        .fileUpload.btn.btn-primary(style="height: 34px;")
          span Upload Medicine List
          input.upload(type='file', name="sampleFile", onchange='$("#loadingModal").modal("show");this.form.submit();')
    .col-xs-12.col-md-4
      form#downloadForm(ref='downloadForm', action= base + '/admin/downloadtemplate', method='get', enctype='multipart/form-data')
        button.form-control.btn.btn-primary(type="submit") Download Medicines Template        
  hr  
  .welcome__home-buttons
    h4.table-title Approved Medicines     
    table#approvedMedicinesTable.display(cellspacing="0", width="100%")
      thead
        tr
          th Generic Name
          th Brand Name
          th Form
          th Strength
          th Strength Unit
          th Route
          th Manufacturer
          th SRA Approvals
          th Approval Date
          th Source
          th Extract Date
          th Update
          th Delete 
      tbody
        if approved_medicines.length > 0
          - for( var i = 0, len = approved_medicines.length; i < len; i++ ) {
          tr
            td #{approved_medicines[i].GENERIC_NAME} 
            td #{approved_medicines[i].BRAND_NAME}
            td #{approved_medicines[i].FORM}
            td #{approved_medicines[i].STRENGTH}
            td #{approved_medicines[i].STRENGTH_UNIT}
            td #{approved_medicines[i].ROUTE}
            td #{approved_medicines[i].MANUFACTURER}
            td #{approved_medicines[i].SRA}
            td #{approved_medicines[i].APPROVAL_DATE}
            td.td-wrapping #{approved_medicines[i].SOURCE}
            td #{approved_medicines[i].EXTRACT_DATE}
            td
              button.form-control.btn.btn-primary(onclick='getMedicine(' + approved_medicines[i].ID + ')') Update
            td
              button.form-control.btn.btn-gray(onclick='deleteStockRecord(' + approved_medicines[i].ID + ', this)') Delete
          - }
    h4.table-title Non Approved Medicines     
    table#nonApprovedMedicinesTable.display(cellspacing="0", width="100%")
      thead
        tr
          th Generic Name
          th Brand Name
          th Form
          th Strength
          th Strength Unit
          th Route
          th Manufacturer
          th SRA Approvals
          th Approval Date
          th Source
          th Extract Date
          th Update
          th Delete 
      tbody
        if non_approved_medicines.length > 0
          - for( var i = 0, len = non_approved_medicines.length; i < len; i++ ) {
          tr
            td #{non_approved_medicines[i].GENERIC_NAME} 
            td #{non_approved_medicines[i].BRAND_NAME}
            td #{non_approved_medicines[i].FORM}
            td #{non_approved_medicines[i].STRENGTH}
            td #{non_approved_medicines[i].STRENGTH_UNIT}
            td #{non_approved_medicines[i].ROUTE}
            td #{non_approved_medicines[i].MANUFACTURER}
            td #{non_approved_medicines[i].SRA}
            td #{non_approved_medicines[i].APPROVAL_DATE}
            td #{non_approved_medicines[i].SOURCE}
            td #{non_approved_medicines[i].EXTRACT_DATE}
            td
              button.form-control.btn.btn-primary(onclick='getMedicine(' + non_approved_medicines[i].ID + ')') Update
            td
              button.form-control.btn.btn-gray(onclick='deleteStockRecord(' + non_approved_medicines[i].ID + ', this)') Delete
          - } 
block modals
  #addNewMedicine.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel.modal-title Add New Medicine
        // /.modal-header
        .modal-body
          form#add-new-medicine-form(role='form')
            #genericNameForm.form-group
              input#genericName.form-control(name='generic_name', type='text', placeholder='Generic Name')
            // /.form-group
            #brandNameForm.form-group
              input#brandName.form-control(name='brand_name', type='text', placeholder='Brand Name')
            // /.form-group
            #formForm.form-group
              select#form.form-control(name='form')
                option.form-control(value='') Select Form
                option.form-control(value='TAB') Tab
                option.form-control(value='VIAL') Vial
                option.form-control(value='OTHER') Other
              // /.input-group
            // /.form-group  
            #strengthForm.form-group
              input#strength.form-control(name='strength', type='text', placeholder='Strength')
            // /.form-group
            #strengthUnitForm.form-group
              input#strengthUnit.form-control(name='strength_unit', type='text', placeholder='Strength Unit')
            // /.form-group
            #routeForm.form-group
              input#route.form-control(name='route', type='text', placeholder='Route')
            // /.form-group
            #manufacturerForm.form-group
              input#manufacturer.form-control(name='manufacturer', type='text', placeholder='Manufacturer')
            // /.form-group
            #sraForm.form-group
              input#sra.form-control(name='sra', type='text', placeholder='SRA Approval')
            // /.form-group
            p 
              strong Approval Date
            #approvalDateForm.form-group
              input#approvalDate.form-control(name='approval_date', type='date', placeholder='Approval Date')
            // /.form-group
            #sourceForm.form-group
              input#source.form-control(name='source', type='text', placeholder='Source')
            // /.form-group
            p 
              strong Extract Date
            #extractDateForm.form-group
              input#extractDate.form-control(name='extract_date', type='date', placeholder='Extract Date')
            // /.form-group  
        // /.modal-body
        .modal-footer
          button.form-control.btn.btn-primary(onclick='add_new_medicine();') Submit
        // /.modal-footer
      // /.modal-content
    // /.modal-dialog
  // /.modal
  #updateMedicine.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel.modal-title Update Medicine
        // /.modal-header
        .modal-body
          form#update-medicine-form(role='form')
            #genericNameFormUpdate.form-group
              input#genericNameUpdate.form-control(name='generic_name', type='text', placeholder='Generic Name')
            // /.form-group
            #brandNameFormUpdate.form-group
              input#brandNameUpdate.form-control(name='brand_name', type='text', placeholder='Brand Name')
            // /.form-group
            #formFormUpdate.form-group
              select#formUpdate.form-control(name='form')
                option.form-control(value='') Select Form
                option.form-control(value='TAB') Tab
                option.form-control(value='VIAL') Vial
                option.form-control(value='OTHER') Other
              // /.input-group
            // /.form-group  
            #strengthFormUpdate.form-group
              input#strengthUpdate.form-control(name='strength', type='text', placeholder='Strength')
            // /.form-group
            #strengthUnitFormUpdate.form-group
              input#strengthUnitUpdate.form-control(name='strength_unit', type='text', placeholder='Strength Unit')
            // /.form-group
            #routeFormUpdate.form-group
              input#routeUpdate.form-control(name='route', type='text', placeholder='Route')
            // /.form-group
            #manufacturerFormUpdate.form-group
              input#manufacturerUpdate.form-control(name='manufacturer', type='text', placeholder='Manufacturer')
            // /.form-group
            #sraFormUpdate.form-group
              input#sraUpdate.form-control(name='sra', type='text', placeholder='SRA Approval')
            // /.form-group
            p 
              strong Approval Date
            #approvalDateFormUpdate.form-group
              input#approvalDateUpdate.form-control(name='approval_date', type='date', placeholder='Approval Date')
            // /.form-group
            #sourceFormUpdate.form-group
              input#sourceUpdate.form-control(name='source', type='text', placeholder='Source')
            // /.form-group
            p 
              strong Extract Date
            #extractDateFormUpdate.form-group
              input#extractDateUpdate.form-control(name='extract_date', type='date', placeholder='Extract Date')
            // /.form-group  
        // /.modal-body
        .modal-footer
          button#update-medicine-btn.form-control.btn.btn-primary Submit
        // /.modal-footer
      // /.modal-content
    // /.modal-dialog
  // /.modal
  #loadingModal.modal.fade(role='dialog', data-backdrop='static', data-show='true', data-keyboard='false')
    .modal-dialog.modal-sm
      .modal-content
        .modal-body
          h2
            span.glyphicon.glyphicon-refresh.glyphicon-refresh-animate
            |   Loading...
  #confimAddMedicine.modal.fade(role='dialog', data-backdrop='static', data-show='true', data-keyboard='false')
    .modal-dialog
      .modal-content
        .modal-header
          h4#myModalLabel.modal-title Add New Medicine
        // /.modal-header
        .modal-body
          |  The medicine is added successfuly
        // /.modal-body
        .modal-footer
          button.form-control.btn.btn-primary(onclick='location.reload();') OK
        // /.modal-footer
      // /.modal-content
    // /.modal-dialog
  // /.modal
  #confimUpdateMedicine.modal.fade(role='dialog', data-backdrop='static', data-show='true', data-keyboard='false')
    .modal-dialog
      .modal-content
        .modal-header
          h4#myModalLabel.modal-title Update Medicine
        // /.modal-header
        .modal-body
          |  The medicine is updated successfuly
        // /.modal-body
        .modal-footer
          button.form-control.btn.btn-primary(onclick='location.reload();') OK
        // /.modal-footer
      // /.modal-content
    // /.modal-dialog
  // /.modal          
block scripts
  script(type='text/javascript', src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js')
  script(type='text/javascript', src=base+'/scripts/admin/manage_medicines.js')
