extends ../layout

block content
  .page__subtitle.ng-binding Search Results
  .row.action__buttons
    .col-xs-4.col-md-2 
      button.form-control.btn.btn-primary(onclick="printPage()") Print
    .col-xs-4.col-md-2
      button.form-control.btn.btn-primary(ng-click='welcomeCtrl.newForecast()', data-toggle='modal', data-target='#addNewMedicine') Send Email
    .col-xs-4.col-md-2
      button.form-control.btn.btn-primary(ng-click='welcomeCtrl.newForecast()', data-toggle='modal', data-target='#addNewMedicine') Send SMS
  hr  
  #search__results.welcome__home-buttons
    - for( i in results) {
      h4.medicine-title x#{results[i]['quantity']} #{results[i]['medicine'].GENERIC_NAME} #{results[i]['medicine'].BRAND_NAME} #{results[i]['medicine'].FORM} #{results[i]['medicine'].STRENGTH} #{results[i]['medicine'].STRENGTH_UNIT} #{results[i]['medicine'].MANUFACTURER}
      table#pharmaciesTable.display(cellspacing="0", width="100%")
        thead
          tr
            th(colspan="9") Pharmacy Info 
            th(colspan="4") Stock Info
          tr
            th Name
            th Phone
            th Email
            th Street
            th City
            th State
            th ZIP
            th Open Form
            th Open To
            th Price/Pack
            th Expiry Date
            th Pack Size
            th Last Update       
        if results[i]['pharmacies'].length > 0
          - for( var j = 0, len = results[i]['pharmacies'].length; j < len; j++ ) {
              tr
                td #{results[i]['pharmacies'][j].NAME}
                td.highlight #{results[i]['pharmacies'][j].PHONE_NUMBER} 
                td #{results[i]['pharmacies'][j].EMAIL}
                td.highlight #{results[i]['pharmacies'][j].STREET}
                td #{results[i]['pharmacies'][j].CITY}
                td.highlight #{results[i]['pharmacies'][j].STATE}
                td #{results[i]['pharmacies'][j].ZIP}
                td.highlight #{results[i]['pharmacies'][j].OPEN_FROM}
                td #{results[i]['pharmacies'][j].OPEN_TO} 
                td.highlight #{results[i]['pharmacies'][j].PRICE_PER_PACK}
                td #{results[i]['pharmacies'][j].EXPIRY_DATE}
                td.highlight #{results[i]['pharmacies'][j].PACK_SIZE}
                td #{results[i]['pharmacies'][j].LAST_UPDATE}
          - }
    - }
    //- h4.medicine-title Medicines   
    
    //- h4.table-title Items To Search   
    //-   div.div_search
    //-     table#table_search
    //-       thead
    //-         tr.tr_search
    //-           th.th_search Quantity
    //-           th.th_search Standardized Name
    //-           th.th_search Brand Name
    //-           th.th_search Form
    //-           th.th_search Strength
    //-           th.th_search Strength Unit
    //-           th.th_search Manufacturer
    //-       tbody#itemsToSearch
    //-         tr.tr_search
    //-           td#empty_search.td_search.text-center(valign="top", colspan="7") No medicines are added yet
    //- button.btn.btn-primary(onclick="searchForResults()") Search
              
block scripts
  script(type='text/javascript', src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js')
  script(type='text/javascript', src=base+'/scripts/doctor/search_results.js')  
    