extends ../layout

block pages
  button.header__action-button.ng-binding(data-toggle="tooltip", title="Search Medicines", onclick="location.href='" + base + "/doctor';")
    i.glyphicon.glyphicon-search
    span.main-actions|                         Search Medicines
  .header__actions-divider
  button.header__action-button.ng-binding(data-toggle="tooltip", title="Profile", onclick="location.href='" + base + "/doctor/profile';")
    i.glyphicon.glyphicon-user
    span.main-actions|                         Profile
  .header__actions-divider
block account    
  .header__actions-divider  
  button.header__action-button.ng-binding(data-toggle="tooltip", title="Logout", onclick="location.href='" + base + "/logout';")
    i.glyphicon.glyphicon-log-out
    span.main-actions|                         Logout

block content
  .page__subtitle.ng-binding Search Medicines
  .welcome__home-buttons
    tab-bar.ng-isolate-scope
      .tab-bar.mg-btm-30
        // ngRepeat: tab in tabBarCtrl.tabs
        button.tab-bar__tab.ng-binding.ng-scope.tab-bar__aval-tab
          | 1. Create Prescription
        // end ngRepeat: tab in tabBarCtrl.tabs
        button.tab-bar__tab.ng-binding.ng-scope.tab-bar__aval-tab
          | 2. Treatment Center
        // end ngRepeat: tab in tabBarCtrl.tabs
        button.tab-bar__tab.ng-binding.ng-scope.tab-bar__aval-tab.tab-bar__active-tab
          | 3. Search Pharmacy
        // end ngRepeat: tab in tabBarCtrl.tabs
        button.tab-bar__tab.ng-binding.ng-scope
          | 4. Shopping List
        // end ngRepeat: tab in tabBarCtrl.tabs
    h4.table-title Medicines List
      div.div_search
        table.table_search
          thead
            tr.tr_search
              th.th_search Quantity
              th.th_search Standardized Name
              th.th_search Brand Name
              th.th_search Form
              th.th_search Strength
              th.th_search Strength Unit
              th.th_search Manufacturer
          tbody#itemsToSearch
            tr.tr_search
            -  if(medicines.length > 0) { 
              -  for (var i = 0; i < medicines.length; i++) {
                  tr.tr_search.table-result-search
                    td.td_search #{medicines[i]['quantity']}
                    td.td_search #{medicines[i]['medicine'].GENERIC_NAME}
                    td.td_search #{medicines[i]['medicine'].BRAND_NAME}
                    td.td_search #{medicines[i]['medicine'].FORM}
                    td.td_search #{medicines[i]['medicine'].STRENGTH}
                    td.td_search #{medicines[i]['medicine'].STRENGTH_UNIT}
                    td.td_search #{medicines[i]['medicine'].MANUFACTURER}
              - } 
          - }
          -  else {
              td.empty_table.td_search(style="text-align: center;", valign="top", colspan="8") No medicines are added to the list
          -  }
    h4.table-title Treatment Center Medicines
      div.div_search
        table.table_search
          thead
            tr.tr_search
              th.th_search Quantity
              th.th_search Standardized Name
              th.th_search Brand Name
              th.th_search Form
              th.th_search Strength
              th.th_search Strength Unit
              th.th_search Manufacturer
          tbody
            tr.tr_search
            -  if(treatmentCenterMedicines.length > 0) { 
              -  for (var i = 0; i < treatmentCenterMedicines.length; i++) {
                  tr.tr_search.table-result-search
                    td.td_search #{treatmentCenterMedicines[i]['quantity']}
                    td.td_search #{treatmentCenterMedicines[i]['medicine'].GENERIC_NAME}
                    td.td_search #{treatmentCenterMedicines[i]['medicine'].BRAND_NAME}
                    td.td_search #{treatmentCenterMedicines[i]['medicine'].FORM}
                    td.td_search #{treatmentCenterMedicines[i]['medicine'].STRENGTH}
                    td.td_search #{treatmentCenterMedicines[i]['medicine'].STRENGTH_UNIT}
                    td.td_search #{treatmentCenterMedicines[i]['medicine'].MANUFACTURER}
              - } 
          - }
          -  else {
              td.empty_table.td_search(style="text-align: center;", valign="top", colspan="8") No medicines are available in your treatment center
          -  }
    h4#missin-medicines.table-title Missing Medicines (Please select available pharmacies for each medicine)
    - for(var i = 0; i < missingMedicines.length; i++) {
      h5.medicine-title x#{missingMedicines[i]['quantity']} #{missingMedicines[i]['medicine'].GENERIC_NAME} #{missingMedicines[i]['medicine'].BRAND_NAME} #{missingMedicines[i]['medicine'].FORM} #{missingMedicines[i]['medicine'].STRENGTH} #{missingMedicines[i]['medicine'].STRENGTH_UNIT} #{missingMedicines[i]['medicine'].MANUFACTURER}
      div.div_search
        table.table_search
          thead
            tr.tr_search
              th.th_search #
              th.th_search Name
              th.th_search Phone
              th.th_search Email
              th.th_search Street
              th.th_search City
              th.th_search State
              th.th_search ZIP
              th.th_search Open Form
              th.th_search Open To
              th.th_search Price/Pack
              th.th_search Expiry Date
              th.th_search Pack Size
              th.th_search Last Update
          tbody
            tr.tr_search
              -  if(missingMedicines[i]['pharmacies']) {
                  -  for( var j = 0, len = missingMedicines[i]['pharmacies'].length; j < len; j++ ) {
                        tr.tr_search.table-result-search(id='pharmacy_row_'+missingMedicines[i]['medicine'].ID+'_'+missingMedicines[i]['pharmacies'][j].ID)
                          td.td_search 
                            input(type='radio', name='pharmacy_'+missingMedicines[i]['medicine'].ID, value=+missingMedicines[i]['medicine'].ID+'_'+missingMedicines[i]['pharmacies'][j].ID, onclick='updateSelectedPharmacy(this)')
                          td.td_search #{missingMedicines[i]['pharmacies'][j].NAME}
                          td.td_search #{missingMedicines[i]['pharmacies'][j].PHONE_NUMBER}
                          td.td_search #{missingMedicines[i]['pharmacies'][j].EMAIL}
                          td.td_search #{missingMedicines[i]['pharmacies'][j].STREET}
                          td.td_search #{missingMedicines[i]['pharmacies'][j].CITY}
                          td.td_search #{missingMedicines[i]['pharmacies'][j].STATE}
                          td.td_search #{missingMedicines[i]['pharmacies'][j].ZIP}
                          td.td_search #{missingMedicines[i]['pharmacies'][j].OPEN_FROM}
                          td.td_search #{missingMedicines[i]['pharmacies'][j].OPEN_TO}
                          td.td_search #{missingMedicines[i]['pharmacies'][j].PRICE_PER_PACK}
                          td.td_search #{missingMedicines[i]['pharmacies'][j].EXPIRY_DATE}
                          td.td_search #{missingMedicines[i]['pharmacies'][j].PACK_SIZE}
                          td.td_search #{missingMedicines[i]['pharmacies'][j].LAST_UPDATE}
                  - }
              -  }
              -  else {    
                    td.empty_table.td_search(style="text-align: center;", valign="top", colspan="14") There are no available pharmacies that had this medicine with this quantity
              -  }      
    - }         
    button#next-btn.btn.btn-primary.pull-right.mg-btm-70.mg-top-10(onclick="nextStep()") Next
              
block scripts
  script(type='text/javascript', src=base+'/scripts/doctor/select_pharmacies.js')
    