extends ../layout

block headers
  button.header__action-button.ng-binding(data-toggle="tooltip", title="Search Medicines", onclick="location.href='" + base + "/doctor';")
    i.glyphicon.glyphicon-search
    span.main-actions|                         Search Medicines
  .header__actions-divider
  button.header__action-button.ng-binding(data-toggle="tooltip", title="Profile", onclick="location.href='" + base + "/doctor/profile';")
    i.glyphicon.glyphicon-user
    span.main-actions|                         Profile
  .header__actions-divider
  button.header__action-button.ng-binding(data-toggle="tooltip", title="Logout", onclick="location.href='" + base + "/logout';")
    i.glyphicon.glyphicon-log-out
    span.main-actions|                         Logout

block content
  .page__subtitle.ng-binding Search Medicines
  .welcome__home-buttons
    tab-bar.ng-isolate-scope
      .tab-bar.mg-btm-30
        // ngRepeat: tab in tabBarCtrl.tabs
        button.tab-bar__tab.ng-binding.ng-scope.tab-bar__aval-tab
          | 1. Create Prescription
        // end ngRepeat: tab in tabBarCtrl.tabs
        button.tab-bar__tab.ng-binding.ng-scope.tab-bar__aval-tab
          | 2. Treatment Center
        // end ngRepeat: tab in tabBarCtrl.tabs
        button.tab-bar__tab.ng-binding.ng-scope.tab-bar__aval-tab
          | 3. Search Pharmacy
        // end ngRepeat: tab in tabBarCtrl.tabs
        button.tab-bar__tab.ng-binding.ng-scope.tab-bar__aval-tab.tab-bar__active-tab
          | 4. Shopping List
        // end ngRepeat: tab in tabBarCtrl.tabs
    h4.table-title Medicines List  
      div.div_search
        table.table_search
          thead
            tr.tr_search
              th.th_search Quantity
              th.th_search Standardized Name
              th.th_search Brand Name
              th.th_search Form
              th.th_search Strength
              th.th_search Strength Unit
              th.th_search Manufacturer
          tbody#itemsToSearch
            tr.tr_search
            -  if(medicines.length > 0) { 
              -  for (var i = 0; i < medicines.length; i++) {
                  tr.tr_search.table-result-search
                    td.td_search #{medicines[i]['quantity']}
                    td.td_search #{medicines[i]['medicine'].GENERIC_NAME}
                    td.td_search #{medicines[i]['medicine'].BRAND_NAME}
                    td.td_search #{medicines[i]['medicine'].FORM}
                    td.td_search #{medicines[i]['medicine'].STRENGTH}
                    td.td_search #{medicines[i]['medicine'].STRENGTH_UNIT}
                    td.td_search #{medicines[i]['medicine'].MANUFACTURER}
              - } 
          - }
          -  else {
              td.empty_table.td_search(style="text-align: center;", valign="top", colspan="8") No medicines are added to the list
          -  }
    h4.table-title Treatment Center Details
      div.div_search
        table.table_search
          thead
            tr.tr_search
              th.th_search Name
              th.th_search Phone
              th.th_search Email
              th.th_search Street
              th.th_search City
              th.th_search State
              th.th_search ZIP
              th.th_search Open From
              th.th_search Open To
          tbody#treatment-center-details
            tr.tr_search
            -  if(treatmentCenterDetails) { 
                tr.tr_search.table-result-search
                  td.td_search #{treatmentCenterDetails.NAME}
                  td.td_search #{treatmentCenterDetails.PHONE_NUMBER}
                  td.td_search #{treatmentCenterDetails.EMAIL}
                  td.td_search #{treatmentCenterDetails.STREET}
                  td.td_search #{treatmentCenterDetails.CITY}
                  td.td_search #{treatmentCenterDetails.STATE}
                  td.td_search #{treatmentCenterDetails.ZIP}
                  td.td_search #{treatmentCenterDetails.OPEN_FROM}
                  td.td_search #{treatmentCenterDetails.OPEN_TO}
          - }
          -  else {
              td.empty_table.td_search(style="text-align: center;", valign="top", colspan="9") No treatment center had been chosen
          -  }
    -  if(pharmacyDetails.length > 0) {
        h4.table-title Treatment Center Medicines
          div.div_search
            table.table_search
              thead
                tr.tr_search
                  th.th_search Quantity
                  th.th_search Standardized Name
                  th.th_search Brand Name
                  th.th_search Form
                  th.th_search Strength
                  th.th_search Strength Unit
                  th.th_search Manufacturer
                  th.th_search Expiry Date
                  th.th_search Pack Size
                  th.th_search Price/Pack

              tbody
                tr.tr_search
                -  if(treatmentCenterMedicines.length > 0) { 
                  -  for (var i = 0; i < treatmentCenterMedicines.length; i++) {
                      tr.tr_search.table-result-search
                        td.td_search #{treatmentCenterMedicines[i]['quantity']}
                        td.td_search #{treatmentCenterMedicines[i]['medicine'].GENERIC_NAME}
                        td.td_search #{treatmentCenterMedicines[i]['medicine'].BRAND_NAME}
                        td.td_search #{treatmentCenterMedicines[i]['medicine'].FORM}
                        td.td_search #{treatmentCenterMedicines[i]['medicine'].STRENGTH}
                        td.td_search #{treatmentCenterMedicines[i]['medicine'].STRENGTH_UNIT}
                        td.td_search #{treatmentCenterMedicines[i]['medicine'].MANUFACTURER}
                        td.td_search #{treatmentCenterMedicines[i]['medicine'].EXPIRY_DATE}
                        td.td_search #{treatmentCenterMedicines[i]['medicine'].PACK_SIZE}
                        td.td_search #{treatmentCenterMedicines[i]['medicine'].PRICE_PER_PACK}
                  - } 
              - }
              -  else {
                  td.empty_table.td_search(style="text-align: center;", valign="top", colspan="8") No medicines are available in your treatment center
              -  }
        h4.table-title Other Medicines
          -  for (var i = 0; i < pharmacyDetails.length; i++) {
              div.div_search
                table.table_search
                  thead
                    tr.tr_search
                      th.th_search(style="text-align: center;", valign="top", colspan="12")
                        h5.medicine-title #{pharmacyDetails[i]['details'].GENERIC_NAME} #{pharmacyDetails[i]['details'].BRAND_NAME} #{pharmacyDetails[i]['details'].FORM} #{pharmacyDetails[i]['details'].STRENGTH} #{pharmacyDetails[i]['details'].STRENGTH_UNIT} #{pharmacyDetails[i]['details'].MANUFACTURER}
                    tr.tr_search
                      th.th_search Name
                      th.th_search Phone
                      th.th_search Email
                      th.th_search Street
                      th.th_search City
                      th.th_search State
                      th.th_search ZIP
                      th.th_search Open Form
                      th.th_search Open To
                      th.th_search Expiry Date
                      th.th_search Pack Size
                      th.th_search Price/Pack    
                   tbody
                    tr.tr_search.table-result-search
                      td.td_search #{pharmacyDetails[i]['details'].NAME}
                      td.td_search #{pharmacyDetails[i]['details'].PHONE_NUMBER}
                      td.td_search #{pharmacyDetails[i]['details'].EMAIL}
                      td.td_search #{pharmacyDetails[i]['details'].STREET}
                      td.td_search #{pharmacyDetails[i]['details'].CITY}
                      td.td_search #{pharmacyDetails[i]['details'].STATE}
                      td.td_search #{pharmacyDetails[i]['details'].ZIP}
                      td.td_search #{pharmacyDetails[i]['details'].OPEN_FROM}
                      td.td_search #{pharmacyDetails[i]['details'].OPEN_TO}
                      td.td_search #{pharmacyDetails[i]['details'].EXPIRY_DATE}
                      td.td_search #{pharmacyDetails[i]['details'].PACK_SIZE}
                      td.td_search #{pharmacyDetails[i]['details'].PRICE_PER_PACK}                             
          -  }               
    -  }      
    
                        
    button#next-btn.btn.btn-primary.pull-right.mg-btm-70.mg-left-10(onclick="printPage()") Print
    button#next-btn.btn.btn-primary.pull-right.mg-btm-70.mg-left-10 Send Email
    button#next-btn.btn.btn-primary.pull-right.mg-btm-70.mg-left-10 Send SMS
    button#next-btn.btn.btn-primary.pull-right.mg-btm-70.mg-left-10(onclick="window.location.href='"+base+"/doctor'") Search Again    
block scripts
  script(type='text/javascript', src=base+'/scripts/doctor/shopping_list.js')