<style type="text/css">
  body,
  html,
  .body {
    background: #f3f3f3 !important;
  }
  .header {
    background: #f3f3f3;
  }
</style>

<container>

  <row>
    <columns>

      <spacer size="16"></spacer>

      <h1 class="text-center">Item needs your attention!</h1>

      <spacer size="16"></spacer>

      <p class="text-center"> Unapproved medicine was uploaded, you can check it <a class="large expand" href={{link}}>here </a></p>

      <p class="text-center"> Pharmacy Name : {{pharmacy_name}}</p>
      <p class="text-center"> Medicine Generic Name : {{Generic_name}}</p>
      <p class="text-center"> Medicine Brand Name : {{Brand_name}}</p>
      <p class="text-center"> Manufacturer : {{Manufacturer}}</p>
      <p class="text-center"> Medicine Form : {{form}}</p>
      <p class="text-center"> Medicine Strength  : {{Strength}}</p>
      <p class="text-center"> Medicine Strength Unit : {{Strength_unit}}</p>


      <hr/>

    </columns>
  </row>

  <spacer size="16"></spacer>
</container>
