html
  head
    style(type='text/css').
      @charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}
    meta(charset='utf-8')
    title ChemoFinder
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href= base + '/style/chemoquant.css')
    block stylesheets
  body
    header.ng-isolate-scope
      .header__container
        .title
          a(ui-sref='welcome', href='#/welcome')
            span.heavy-title ChemoFinder
        .header__actions
          block pages
          //- button.header__action-button.ng-binding(ng-click='headerCtrl.home()')
          //-   img(src= base +'/images/home.svg')
          //-   |                         Home
          span(data-toggle='modal', data-target='#settings')
            button.header__action-button.ng-binding(data-toggle="tooltip", title=lang.settings)
              img(src= base +'/images/gear.svg', style='    position: inherit; margin-right: 0px;')
              span.main-actions                         #{lang.settings}
          block account
    main-comp.ng-isolate-scope
      // uiView:
      .ng-scope(ui-view='')
        welcome.ng-scope.ng-isolate-scope
          .welcome__actions
            block content
          .welcome__branding
            img.welcome__acs(src= base +'/images/ACS_Logo.png')
            img.welcome__chai(src= base +'/images/CHAI_LOGO.png')  
            img.welcome__heath-corp(src= base +'/images/IBM_HealthCorps.jpg')
    block modals
    #settings.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title #{lang.settings}
          // /.modal-header
          .modal-body
            p
              strong #{lang.change_language}
            form(role='form')
              .form-group
                .input-group
                  select#language.form-control(name='language')
                    option.form-control(value=lang.short_default_language) #{lang.default_language}
                    option.form-control(value=lang.short_second_language) #{lang.second_language}
                  span.input-group-addon
                    img(src= base +'/images/gear-black.png')
                // /.input-group
              // /.form-group
          // /.modal-body
          .modal-footer
            button#login-btn.form-control.btn.btn-primary(onclick='changeLanguage();') #{lang.save}
          // /.modal-footer
        // /.modal-content
      // /.modal-dialog
    // /.modal          
    script(src='https://code.jquery.com/jquery-3.1.1.js', integrity='sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=', crossorigin='anonymous')
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(type='text/javascript', src=base+'/scripts/layout.js') 
    block scripts
