extends ../layout

block pages
  button.header__action-button.ng-binding(data-toggle="tooltip", title="My Stock", onclick="location.href='" + base + "/pharmacy';")
    i.glyphicon.glyphicon-list-alt
    span.main-actions|                         My Stock
  .header__actions-divider
  button.header__action-button.ng-binding(data-toggle="tooltip", title="Profile", onclick="location.href='" + base + "/pharmacy/profile';")
    i.glyphicon.glyphicon-user
    span.main-actions|                         Profile
  .header__actions-divider
block account    
  .header__actions-divider  
  button.header__action-button.ng-binding(data-toggle="tooltip", title="Logout", onclick="location.href='" + base + "/logout';")
    i.glyphicon.glyphicon-log-out
    span.main-actions|                         Logout       
block content
  .page__subtitle.ng-binding My Stock
  - if(extention_error) {
      .alert.alert-danger.error-form This file extension is not allowed, only files with xlsx extension are allowed
  - }
  - if(format_error) {
      !{format_error} 
  - }
  .row
    .col-xs-6.col-md-4 
      button.form-control.btn.btn-primary.mg-btm-10(ng-click='welcomeCtrl.newForecast()', data-toggle='modal', data-target='#addNewMedicine') Add New Medicine
    .col-xs-6.col-md-4 
      button.form-control.btn.btn-primary.mg-btm-10(ng-click='welcomeCtrl.newForecast()', data-toggle='modal', data-target='#addNewApprovedMedicine') Add New Approved Medicine  
    .col-xs-6.col-md-4
      form#uploadForm(ref='uploadForm', action= base + '/pharmacy/uploadstocklist', method='post', enctype='multipart/form-data')
        .fileUpload.btn.btn-primary.mg-btm-10
          span Upload Stock List
          input.upload(type='file', name="sampleFile", onchange='$("#loadingModal").modal("show");this.form.submit()')
        //- input.form-control.btn.btn-primary.mg-btm-10(type='file', onchange='this.form.submit()', value='Upload Medicines')
    .col-xs-6.col-md-6
      form#downloadForm(ref='downloadForm', action= base + '/pharmacy/downloadtemplate', method='get', enctype='multipart/form-data')
        button.form-control.btn.btn-primary.mg-btm-10(type="submit") Download Stock Template
    .col-xs-6.col-xs-push-3.col-md-push-0.col-md-6
      form#downloadLastStockForm(ref='downloadLastStockForm', action= base + '/pharmacy/downloadlaststock', method='get', enctype='multipart/form-data')
        button.form-control.btn.btn-primary.mg-btm-10(type="submit") Download My Last Stock        
  hr  
  .welcome__home-buttons
    h4.table-title Medicines In Stock     
    table#stockListTable.display(cellspacing="0", width="100%")
      thead
        tr
          th Update
          th Delete 
          th Details
          th Generic Name
          th Form
          th Strength
          th Strength Unit
          th Brand Name
          th Manufacturer
          th Approval
      tbody
        - for( var i = 0, len = stock_list.length; i < len; i++ ) {
        tr
          td
            button.form-control.btn.btn-primary(onclick='getStockRecord(' + stock_list[i].STOCK_LIST_ID + ')') Update
          td
            button.form-control.btn.btn-gray(onclick='deleteStockRecord(' + stock_list[i].STOCK_LIST_ID + ', this)') Delete
          td
            button.form-control.btn.btn-gray(onclick='showStockRecord(' + stock_list[i].STOCK_LIST_ID + ')') Show Details  
          td #{stock_list[i].GENERIC_NAME}
          td #{stock_list[i].FORM} 
          td #{stock_list[i].STRENGTH}
          td #{stock_list[i].STRENGTH_UNIT}
          td #{stock_list[i].BRAND_NAME}
          td #{stock_list[i].MANUFACTURER}
          td
            if(stock_list[i].APPROVED)
              | Approved
            else
              | Not Approved
        - }

block modals
  #medicineDetails.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel.modal-title Medicine Details
        // /.modal-header
        .modal-body
          .row
            .col-xs-6.text-center
              label Generic Name
            .col-xs-6.text-center  
              p.wrapping#genericNameShow
          hr
          .row
            .col-xs-6.text-center
              label Form
            .col-xs-6.text-center  
              p.wrapping#formShow
          hr
          .row
            .col-xs-6.text-center
              label Strength
            .col-xs-6.text-center  
              p.wrapping#strengthShow
          hr
          .row
            .col-xs-6.text-center
              label Strength Unit
            .col-xs-6.text-center  
              p.wrapping#strengthUnitShow 
          hr
          .row
            .col-xs-6.text-center
              label Brand Name
            .col-xs-6.text-center  
              p.wrapping#brandNameShow
          hr  
          .row
            .col-xs-6.text-center
              label Manufacturer
            .col-xs-6.text-center  
              p.wrapping#manufacturerShow
          hr  
          .row
            .col-xs-6.text-center
              label Specification Form
            .col-xs-6.text-center  
              p.wrapping#specificationFormShow
          hr
          .row
            .col-xs-6.text-center
              label Batch Number
            .col-xs-6.text-center  
              p.wrapping#batchNumberShow
          hr  
          .row
            .col-xs-6.text-center
              label Expiry Date
            .col-xs-6.text-center  
              p.wrapping#expiryDateShow   
          hr
          .row
            .col-xs-6.text-center
              label Approval Status
            .col-xs-6.text-center  
              p.wrapping#approveShow
          hr
          .row
            .col-xs-6.text-center
              label SRA Approvals
            .col-xs-6.text-center  
              p.wrapping#sraShow
          hr
          .row
            .col-xs-6.text-center
              label Pack Size
            .col-xs-6.text-center  
              p.wrapping#packSizeShow
          hr
          .row
            .col-xs-6.text-center
              label Pack Type 
            .col-xs-6.text-center  
              p.wrapping#packTypeShow      
          hr
          .row
            .col-xs-6.text-center
              label Units Per Pack
            .col-xs-6.text-center  
              p.wrapping#unitsPerPackShow   
          hr
          .row
            .col-xs-6.text-center
              label Price per Pack
            .col-xs-6.text-center  
              p.wrapping#priceShow
          hr
          .row
            .col-xs-6.text-center
              label Available Stock
            .col-xs-6.text-center  
              p.wrapping#quantityShow
          hr
          .row
            .col-xs-6.text-center
              label Avg. Monthly Consumption
            .col-xs-6.text-center  
              p.wrapping#avgMonthlyConsumptionShow
          hr
          .row
            .col-xs-6.text-center
              label Date of Last Update
            .col-xs-6.text-center  
              p.wrapping#updateDateShow  
        // /.modal-body
      // /.modal-content
    // /.modal-dialog
  // /.modal
  #addNewMedicine.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel.modal-title Add New Medicine
        // /.modal-header
        .modal-body
          form#add-new-medicine-form(role='form')
            #genericNameForm.form-group
              input#genericName.form-control(name='generic_name', type='text', placeholder='Generic Name')
            // /.form-group
            #formForm.form-group
              select#form.form-control(name='form')
                option.form-control(value='') Select Form
                option.form-control(value='Ampule') Ampule
                option.form-control(value='Caps') Caps
                option.form-control(value='Eye Drops') Eye Drops
                option.form-control(value='Syringe') Syringe
                option.form-control(value='Vial') Vial
                option.form-control(value='Tablets') Tablets
                option.form-control(value='Film') Film
                option.form-control(value='Solution') Solution
                option.form-control(value='Other') Other
              // /.input-group
            // /.form-group
            #strengthForm.form-group
              input#strength.form-control(name='strength', type='text', placeholder='Strength')
            // /.form-group
            #strengthUnitForm.form-group
              select#strengthUnit.form-control(name='strength_unit')
                option.form-control(value='') Select Form
                option.form-control(value='Mcg') Mcg
                option.form-control(value='Mg') Mg
                option.form-control(value='Gr') Gr
                option.form-control(value='Mcg/ml') Mcg/ml
                option.form-control(value='Mg/ml') Mg/ml
                option.form-control(value='Gr/ml') Gr/ml
                option.form-control(value='ml') ml
                option.form-control(value='IU') IU
                option.form-control(value='MU') MU
                option.form-control(value='%') %
                option.form-control(value='Other') Other             
            // /.form-group
            #brandNameForm.form-group
              input#brandName.form-control(name='brand_name', type='text', placeholder='Brand Name')
            // /.form-group
            #manufacturerForm.form-group
              input#manufacturer.form-control(name='manufacturer', type='text', placeholder='Manufacturer')
            // /.form-group
            #batchNumberForm.form-group
              input#batchNumber.form-control(name='batch_number', type='text', placeholder='Batch Number')
            // /.form-group            
            p 
              strong Expiry Date
            #expiryDateForm.form-group
              input#expiryDate.form-control(name='expiry_date', type='date', placeholder='Expiry Date')
            // /.form-group
            #packSizeForm.form-group
              input#packSize.form-control(name='pack_size', type='text', placeholder='Pack Size')
            // /.form-group
            #priceForm.form-group
              input#price.form-control(name='price', type='text', placeholder='Price per Pack')
            // /.form-group
            #quantityForm.form-group
              input#quantity.form-control(name='quantity', type='text', placeholder='Available Stock (packs)')
            // /.form-group
            #avgMonthlyConsumptionForm.form-group
              input#avgMonthlyConsumption.form-control(name='avg_monthly_consumption', type='text', placeholder='Avg. Monthly Consumption')
            // /.form-group  
        // /.modal-body
        .modal-footer
          button.form-control.btn.btn-primary(onclick='add_new_medicine();') Submit
        // /.modal-footer
      // /.modal-content
    // /.modal-dialog
  // /.modal
  #addNewApprovedMedicine.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel.modal-title Add New Approved Medicine
        // /.modal-header
        .modal-body
          form#add-new-approved-medicine-form(role='form')
            #medicineFormApproved.form-group
              select#medicineApproved.form-control(name='medicine')
                option.form-control(value='') Select Form
                - for( var i = 0, len = medicines.length; i < len; i++ ) {
                option.form-control(value= medicines[i].ID) #{medicines[i].GENERIC_NAME} - #{medicines[i].BRAND_NAME} - #{medicines[i].FORM} - #{medicines[i].STRENGTH} - #{medicines[i].STRENGTH_UNIT} - #{medicines[i].MANUFACTURER} 
                - }
              // /.input-group
            // /.form-group
            #batchNumberFormApproved.form-group
              input#batchNumberApproved.form-control(name='batch_number', placeholder='Batch Number')
            // /.form-group            
            p 
              strong Expiry Date
            #expiryDateFormApproved.form-group
              input#expiryDateApproved.form-control(name='expiry_date', type='date', placeholder='Expiry Date')
            // /.form-group
            #packSizeFormApproved.form-group
              input#packSizeApproved.form-control(name='pack_size', type='text', placeholder='Pack Size')
            // /.form-group
            #priceFormApproved.form-group
              input#priceApproved.form-control(name='price', type='text', placeholder='Price per Pack')
            // /.form-group
            #quantityFormApproved.form-group
              input#quantityApproved.form-control(name='quantity', type='text', placeholder='Available Stock (packs)')
            // /.form-group
            #avgMonthlyConsumptionFormApproved.form-group
              input#avgMonthlyConsumptionApproved.form-control(name='avg_monthly_consumption', type='text', placeholder='Avg. Monthly Consumption')
            // /.form-group  
        // /.modal-body
        .modal-footer
          button.form-control.btn.btn-primary(onclick='add_new_approved_medicine();') Submit
        // /.modal-footer
      // /.modal-content
    // /.modal-dialog
  // /.modal
  #updateMedicine.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel.modal-title Update Medicine
        // /.modal-header
        .modal-body
          form#update-medicine-form(role='form')
            #genericNameUpdateForm.form-group.text-center
              label#medicineInfo
            // /.form-group
            label Batch Number
            #batchNumberUpdateForm.form-group
              input#batchNumberUpdate.form-control(name='batch_number', placeholder='Batch Number')
            // /.form-group            
            label Expiry Date
            #expiryDateUpdateForm.form-group
              input#expiryDateUpdate.form-control(name='expiry_date', type='date', placeholder='Expiry Date')
            // /.form-group
            label Pack Size
            #packSizeUpdateForm.form-group
              input#packSizeUpdate.form-control(name='pack_size', type='text', placeholder='Pack Size')
            // /.form-group
            label Price per Pack
            #priceUpdateForm.form-group
              input#priceUpdate.form-control(name='price', type='text', placeholder='Price per Pack')
            // /.form-group
            label Available Stock (packs)
            #quantityUpdateForm.form-group
              input#quantityUpdate.form-control(name='quantity', type='text', placeholder='Available Stock (packs)')
            // /.form-group
            label Avg. Monthly Consumption
            #avgMonthlyConsumptionUpdateForm.form-group
              input#avgMonthlyConsumptionUpdate.form-control(name='avg_monthly_consumption', type='text', placeholder='Avg. Monthly Consumption')
            // /.form-group  
        // /.modal-body
        .modal-footer
          button#update-stock-btn.form-control.btn.btn-primary Submit
        // /.modal-footer
      // /.modal-content
    // /.modal-dialog
  // /.modal
  #loadingModal.modal.fade(role='dialog', data-backdrop='static', data-show='true', data-keyboard='false')
    .modal-dialog.modal-sm
      .modal-content
        .modal-body
          h2
            span.glyphicon.glyphicon-refresh.glyphicon-refresh-animate
            |   Loading...
  #confimAddNewMedicine.modal.fade(role='dialog', data-backdrop='static', data-show='true', data-keyboard='false')
    .modal-dialog
      .modal-content
        .modal-header
          h4#myModalLabel.modal-title Add New Medicine
        // /.modal-header
        .modal-body
          |  The medicine is added successfully
        // /.modal-body
        .modal-footer
          button.form-control.btn.btn-primary(onclick='location.reload();') OK
        // /.modal-footer
      // /.modal-content
    // /.modal-dialog
  // /.modal
  #confimUpdateMedicine.modal.fade(role='dialog', data-backdrop='static', data-show='true', data-keyboard='false')
    .modal-dialog
      .modal-content
        .modal-header
          h4#myModalLabel.modal-title Add New Medicine
        // /.modal-header
        .modal-body
          |  The medicine is updated successfully
        // /.modal-body
        .modal-footer
          button.form-control.btn.btn-primary(onclick='location.reload();') OK
        // /.modal-footer
      // /.modal-content
    // /.modal-dialog
  // /.modal
  #confimDeleteMedicine.modal.fade(role='dialog', data-backdrop='static', data-show='true', data-keyboard='false')
    .modal-dialog
      .modal-content
        .modal-header
          h4#myModalLabel.modal-title Delete Medicine
        // /.modal-header
        .modal-body
          |  The medicine is deleted successfully from your stock
        // /.modal-body
        .modal-footer
          button.form-control.btn.btn-primary(onclick='location.reload();') OK
        // /.modal-footer
      // /.modal-content
    // /.modal-dialog
  // /.modal
block scripts
  script(type='text/javascript', src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js')
  script(type='text/javascript', src=base+'/scripts/pharmacy/stock_list.js')