extends ../layout

block headers
  //- button.header__action-button.ng-binding(onclick="location.href='http://google.com';")
  //-   i.glyphicon.glyphicon-cog
  //-   span.main-actions|                         Settings
  //- .header__actions-divider
  //- button.header__action-button.ng-binding(onclick="location.href='http://google.com';")
  //-   i.glyphicon.glyphicon-log-out
  //-   span.main-actions|                         Logout        
block content
  .page__subtitle.ng-binding My Stock
  .row
    .col-xs-4.col-md-2 
      button.form-control.btn.btn-primary(ng-click='welcomeCtrl.newForecast()', data-toggle='modal', data-target='#addNewMedicine') Add New Medicine
    .col-xs-4.col-md-2
      form#uploadForm(ref='uploadForm', action= base + '/pharmacy/uploadstocklist', method='post', enctype='multipart/form-data')
        .fileUpload.btn.btn-primary
          span Upload Stock List
          input.upload(type='file', name="sampleFile", onchange='this.form.submit()')
        //- input.form-control.btn.btn-primary(type='file', onchange='this.form.submit()', value='Upload Medicines')
    .col-xs-4.col-md-2
      form#downloadForm(ref='downloadForm', action= base + '/pharmacy/downloadtemplate', method='get', enctype='multipart/form-data')
        button.form-control.btn.btn-primary(type="submit", style="font-size:70%;") Download Stock Template    
  hr  
  .welcome__home-buttons
    h4.table-title Approved Medicines     
    table#stockListTable.display
      thead
        tr
          th Generic Name
          th Form
          th Strength
          th Strength Unit
          th Brand Name
          th Manufacturer
          th Batch Number
          th Expiry Date
          th SRA Approvals
          th Pack Size
          th Price per Pack
          th Available Stock
          th Avg. Monthly Consumption
          th Date of Last Update   
      tbody
        - for( var i = 0, len = stock_list.length; i < len; i++ ) {
        tr
          td #{stock_list[i].GENERIC_NAME}
          td #{stock_list[i].FORM} 
          td #{stock_list[i].STRENGTH}
          td #{stock_list[i].STRENGTH_UNIT}
          td #{stock_list[i].BRAND_NAME}
          td #{stock_list[i].MANUFACTURER}
          td #{stock_list[i].BATCH_NUMBER}
          td #{stock_list[i].EXPIRY_DATE}
          td #{stock_list[i].SRA}
          td #{stock_list[i].PACK_SIZE}
          td #{stock_list[i].PRICE_PER_PACK}
          td #{stock_list[i].AVAILABLE_STOCK}
          td #{stock_list[i].AVG_MONTHLY_CONSUMPTION}
          td #{stock_list[i].LAST_UPDATE}
        - }
block modals
  #addNewMedicine.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel.modal-title Add New Medicine
        // /.modal-header
        .modal-body
          form(role='form')
            #genericNameForm.form-group
              input#genericName.form-control(name='generic_name', type='text', placeholder='Generic Name')
            // /.form-group
            #formForm.form-group
              select#form.form-control(name='form')
                option.form-control(value='') Select Form
                option.form-control(value='TAB') Tab
                option.form-control(value='VAIL') Vial
                option.form-control(value='OTHER') Other
              // /.input-group
            // /.form-group
            #strengthForm.form-group
              input#strength.form-control(name='strength', type='text', placeholder='Strength')
            // /.form-group
            #strengthUnitForm.form-group
              input#strengthUnit.form-control(name='strength_unit', type='text', placeholder='Strength Unit')
            // /.form-group
            #brandNameForm.form-group
              input#brandName.form-control(name='brand_name', type='text', placeholder='Brand Name')
            // /.form-group
            #manufacturerForm.form-group
              input#manufacturer.form-control(name='manufacturer', type='text', placeholder='Manufacturer')
            // /.form-group
            #batchNumberForm.form-group
              input#batchNumber.form-control(name='batch_number', type='text', placeholder='Batch Number')
            // /.form-group            
            p 
              strong Expiry Date
            #expiryDateForm.form-group
              input#expiryDate.form-control(name='expiry_date', type='date', placeholder='Expiry Date')
            // /.form-group
            #sraForm.form-group
              input#sra.form-control(name='sra', type='text', placeholder='SRA Approval')
            // /.form-group
            #packSizeForm.form-group
              input#packSize.form-control(name='pack_size', type='text', placeholder='Pack Size')
            // /.form-group
            #priceForm.form-group
              input#price.form-control(name='price', type='text', placeholder='Price per Pack')
            // /.form-group
            #quantityForm.form-group
              input#quantity.form-control(name='quantity', type='text', placeholder='Available Stock (packs)')
            // /.form-group
            #avgMonthlyConsumptionForm.form-group
              input#avgMonthlyConsumption.form-control(name='avg_monthly_consumption', type='text', placeholder='Avg. Monthly Consumption')
            // /.form-group  
        // /.modal-body
        .modal-footer
          button.form-control.btn.btn-primary(onclick='add_new_medicine();') Submit
        // /.modal-footer
      // /.modal-content
    // /.modal-dialog
  // /.modal                    
block scripts
  script(type='text/javascript', src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js')
  script(type='text/javascript', src=base+'/scripts/pharmacy/stock_list.js')